.overview{
  display: flex;
  flex-direction: row;
  color: black;
}
.overview-text{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-text h2{
font-size: 48px;
}
strong{
  font-size: 48px;

}


.overview-text button {
  background: linear-gradient(120deg, #111014 26.71%, #c65e08 99.36%);

  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2rem 2rem;
}

.overview-text button:hover {
  background: linear-gradient(120deg, #c65e08 26.71%, #111014 99.36%);
}

@media screen and (max-width:925px){
  .overview{
    display: flex;
    flex-direction:column;
    color: black;
  }
}